<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
    <select id="getCountByDishIds" resultType="java.lang.Long">
        select
            dish_id
        from setmeal_dish
        where dish_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by dish_id
    </select>

    <insert id="saveSetmealDishBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies)
        values
            <foreach collection="setmealDishes" item="setMealDish" separator=",">
                (#{setMealDish.setmealId}, #{setMealDish.dishId}, #{setMealDish.name}, #{setMealDish.price}, #{setMealDish.copies})
            </foreach>
    </insert>


    <delete id="delSetMealDishByIds">
        delete
        from setmeal_dish
        where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getDishListBySetMealId" resultType="com.sky.vo.DishItemVO">
        select
               sd.copies,
               d.name,
               d.image,
               d.description
        from setmeal_dish sd
                 join dish d on sd.dish_id = d.id
        where sd.setmeal_id = #{id} and d.status = 1
    </select>
</mapper>
